{% extends 'base.html.twig' %}

{% block title %}New GrumpyElephant{% endblock %}

{% block body %}
    <h1>Create new GrumpyElephant</h1>

    {{ include('grumpy_elephant/_form.html.twig') }}

    <a href="{{ path('grumpy_elephant_index') }}">back to list</a>
{% endblock %}
